body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-top: 0;
  font-weight: 100;
}

h1 small {
  font-weight: 100;
  vertical-align: center;
}

h2 {
  font-weight: 300;
}

@media (min-width: 768px) {
  .site-body.container {
    width: 750px;
  }
}

.header-logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
}

.details-box {
  border: 1px solid black;
  padding: 1.5rem;
  background-color: white;
  min-height: 200px;
  margin-top: -5rem;
}

.details-box li {
  display: block;
  color: black;
}

.detail-label {
  color: #727272;
  margin-top: 0.5rem;
}

.text-block {
  color: white;
  background-color: rgba(0,0,0,0.9);
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.section {
  background-color: white;
  margin-bottom: 3rem;
  box-shadow:
    0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-header {
  padding: 15px;
  background-color: #607D8B;
  color: white;
  text-align: center;
}

.section-header h1 {
  color: white;
  margin: 0;
}

.section-header h1 small {
  color: white;
}

.section-header + .section-image {
  border-top: 1px solid black;
}

.section-image {
  border-bottom: 1px solid black;
  z-index: 75;
}

.section-image img {
  width: 100%;
}

.section-body {
  padding: 15px;
  position: relative;
  background-color: #CFD8DC;
  color: black;
}

.section-body * {
  z-index: 100;
}

.section-body h2 {
  margin-top: 0;
}

.section-text {
  margin-top: 15px;
}

.section-footer {
  background-color: white;
  color: black;
}

.tile {
  position:relative;
  border: 1px solid black;
  padding: 15px;
  width: 100%;
  min-height: 200px;

  box-shadow:
    0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
