body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-top: 0;
  font-weight: 100;
}

h1 small {
  font-weight: 100;
  vertical-align: center;
}

@media (min-width: 768px) {
  .site-body.container {
    width: 750px;
  }
}

.header-logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
}

.details-box {
  border: 1px solid black;
  padding: 1.5rem;
  background-color: white;
  min-height: 200px;
  margin-top: -5rem;
  box-shadow:
    0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.details-box li {
  display: block;
  color: black;
}

.detail-label {
  color: #727272;
  margin-top: 0.5rem;
}

.text-block {
  color: white;
  background-color: rgba(0,0,0,0.9);
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.nav > li {
  text-align: center;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  border: none;
  background-color: white;
}

.row {
  margin-bottom: 15px;
}

.section {
  background-color: white;
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow:
    0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-image {
  width: 100%;
  box-shadow:
    0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.section-header {
  padding: 15px;
  background-color: #607D8B;
  color: white;
}

.section-header h1 {
  color: white;
  margin: 0;
}

.section-header h1 small {
  color: white;
}

.section-body {
  padding: 15px;
  position: relative;
  background-color: #CFD8DC;
  color: black;
}

.section-body * {
z-index: 100;
}

.section-text {

}

.section-footer {
  background-color: white;
  color: black;
}

.tile {
  position:relative;
  border: 1px solid black;
  padding: 15px;
  width: 100%;
  min-height: 200px;
  color: white;

  box-shadow:
    0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

  overflow: hidden;
}

.tile:hover {
  filter: grayscale(0.5);
}

.tile.large {
  min-height: 400px;
}

.map-container {
  padding: 0;
}

.map {
  height: 200px;
  width: 100%;
}

#venue-title {
  background-image: url('../images/park-winters-front.jpg');
}

#venue-description {
  background-image: url('../images/park-winters-estate.jpg');
}

#lodging-title {
  background-image: url('../images/lodging-front.jpg');
}

#lodging-western {
  background-image: url('../images/western-front.jpg');
}

#lodging-hilton {
  background-image: url('../images/hallmark-front.jpg');
}

#registry-amazon {
  background-image: url('../images/amazon.jpg');
}
