body {
  background-color: #CFD8DC;
}

.details-box {
  border: 1px solid black;
  padding: 1.5rem;
  background-color: white;
  min-height: 200px;
}

.text-block {
  color: white;
  background-color: rgba(0,0,0,0.9);
}

.navbar {
  margin-bottom: 0;
}

.row {
  margin-bottom: 15px;
}

.section {
  background-color: white;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.section img {
  width: 100%;
}

.section-body {
  padding: 15px;
  position: relative;
}

.section-body * {
  z-index: 100;
}

.section-stripe {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: #ECEFF1;
  z-index: 50;
}

.tile {
  position:relative;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  min-height: 200px;
  color: white;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);

  overflow: hidden;
}

.tile:hover {
  filter: grayscale(0.5);
}

.tile.large {
  min-height: 400px;
}

.map-container {
  padding: 0;
}

.map {
  height: 200px;
  width: 100%;
}

#venue-title {
  background-image: url('../images/park-winters-front.jpg');
}

#venue-description {
  background-image: url('../images/park-winters-estate.jpg');
}

#lodging-title {
  background-image: url('../images/lodging-front.jpg');
}

#lodging-western {
  background-image: url('../images/western-front.jpg');
}

#lodging-hilton {
  background-image: url('../images/hallmark-front.jpg');
}

#registry-amazon {
  background-image: url('../images/amazon.jpg');
}
